* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: #000;
    color: #eeeeee;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 200px;
    margin: 0 auto;
}

p {
    font-size: 22px;
    text-align: center;
    margin: 30px 0 10px;
}

span {
    font-weight: 600;
}


input {
    color: #FDFDFD;
    background-color: #3e3e3e;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

#input-wrapper {
    position: relative;
}

#input-wrapper:before {
	content: "Already on the list";
    text-align: center;
	position: absolute;
	top: -35px;
	right: 0;
    left: 0;
    width: 130px;
    margin: 0 auto;
	background: #5f5f5f;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 15px;
    box-shadow: #000000 0px 1px 4px;
	display: none;
}
#input-wrapper:after {
	content: "";
	position: absolute;
	top: -10px;
    left: 0;
	right: 0;
    margin: 0 auto;
	width: 10px;
	height: 10px;
	background: #5f5f5f;
	transform: rotate(45deg);
	display: none;
}
#input-wrapper.doubled:before,
#input-wrapper.doubled:after {
	display: block;
}

button {
    color: #303030;
    background-color: #d8d8d8;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

button:hover {
    background-color: #ffffff;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

ul li {
    position: relative;
    font-size: 20px;
    background-color: #4b4b4b;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    
}

ul li:hover {
    background-color: #5f5f5f;
    cursor: pointer;
}

ul li:active {
	background: #747474;
}
ul li:before {
	content: "Copied";
	position: absolute;
	top: -45px;
	right: 0;
    left: 0;
    width: 70px;
    margin: 0 auto;
	background: #5f5f5f;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 15px;
    box-shadow: #000000 0px 1px 4px;
	display: none;
}
ul li:after {
	content: "";
	position: absolute;
	top: -20px;
    left: 0;
	right: 0;
    margin: 0 auto;
	width: 10px;
	height: 10px;
	background: #5f5f5f;
	transform: rotate(45deg);
	display: none;
}
ul li.active:before,
ul li.active:after {
	display: block;
}